$backgroundColor: linear-gradient(90deg, #121212,#333333,#525252);

@mixin flex-template($flex, $direction, $content) {
    display: $flex;
    flex-direction: $direction;
    justify-content: $content;
}

@mixin text-options($text-align, $color, $size) {
    text-align: $text-align;
    color: $color;
    font-size: $size;
}

.header {
    background: $backgroundColor;
    height: 220px;
    width: 100%;
    @include flex-template(flex, column, left);
    @media (max-width: 600px) {
        @include flex-template(flex, column, center);
        align-items: center;
    }
    div {
        @include text-options(center, white, 25px);
        @media (max-width: 600px) {
            @include text-options(center, white, 18px);
            margin: 0 30px;
        }
    }
}